// _variables.scss

$body-color: #fafafa;
$main-color: #ffffff;
$primary-color: #3dd9eb;
$secondary-color: rgb(241, 243, 251);
$neutral-color: rgb(109, 108, 108);

$fonts-color: #000000;
$li-color: rgba(255, 255, 255, 0.3);
$button-font: #20656c;
